@import "../nodebb-theme-persona/theme";

@import "../nodebb-theme-persona/theme";

// Custom fonts
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
// END -- Custom fonts

// Set custom font for page
body {
   font-family: 'Acme', sans-serif;
}
// END -- Set custom font for page

// Changing theme colors manually
.fa-fw {
    font-size: 25px;
    color:#650d88;
}

.navbar-brand {
    font-size: 25px;
}

.btn-primary {
    color: #650d88;
    background-color: #ffb606;
    border-color: #650d88;
}
.btn-primary:hover {
  background-color: #650d88;
}
.btn-info {
    background-color: #650d88;
    border-color: #650d88;
}
// END -- Changing theme colors manually
