@import "../nodebb-theme-persona/theme";

@import "../nodebb-theme-persona/theme";

// Custom fonts
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
// END -- Custom fonts

// Set custom font for page
body {
   font-family: 'Acme', sans-serif;
}
// END -- Set custom font for page

// Changing theme colors manually
.fa-fw {
    font-size: 25px;
    color:#650d88;
}

.navbar-brand {
    font-size: 25px;
}

.btn-primary {
    color: #650d88;
    background-color: #ffb606;
    border-color: #650d88;
}
.btn-primary:hover {
  background-color: #650d88;
}
.btn-info {
    background-color: #650d88;
    border-color: #650d88;
}
// END -- Changing theme colors manually

// Add question button
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#ffb606;
	color:#650d88;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.float:hover{
  background-color:#650d88;
	color:#fff;
}

.my-float{
	margin-top:22px;
}
// END -- Add question button

// Like and dislike buttons
button.like{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.dislike{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-heigth: 50px;
	border-radius: 50%;
	color: rgba(255,82,82 ,1);
	background-color: rgba(255,138,128 ,0.3);
	border-color: rgba(255,82,82 ,1);
	border-width: 1px;
	font-size: 15px;
}

button.learnmore{
	width: 100%;
	padding: 10px;
	border: none;
	background: rgba(0,151,167 ,1);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}
// END -- Like and dislike buttons
